.menu {
  background: #1e3a8a;     /* cor do fundo do menu */
  padding: 15px 0;         /* espaçamento vertical */
  display: flex;           /* coloca os links lado a lado */
  gap: 110px;               /* espaço entre os links */
  justify-content: center; /* centraliza os itens no meio da tela */
  align-items: center;     /* alinha verticalmente */
  box-shadow: var(--shadow); /* sombra padrão global */

  position: fixed;         /* menu fixo no topo */
  top: 0;                  /* cola no topo da tela */
  width: 100%;             /* ocupa toda a largura */
  z-index: 999;            /* fica acima de tudo */
}

.menu a {
  color: white;            /* texto branco */
  font-size: 18px;         /* tamanho da fonte */
  font-weight: bold;       /* negrito */
  text-decoration: none;   /* remove sublinhado */
}

.menu a:hover {
  color: #dbeafe;          /* cor ao passar o mouse */
}
